body{
    padding: 0;
    margin: 0;
    background-color: #A2C4E0;
    height:100vh;
    cursor: none;
}
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 5;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}



.obroba{
    height: 50em;
    width: 40em;
    border: 0.2em solid white;
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.tv{
    background-color: #F7CB2D;
    height:15em;
    width:25em;
    position:relative;
    top:10em;
    left:7.5em;
    border-radius:1.5em;
    
}
input[id="moznost1"]{
    -webkit-appearance: none;
    background-color: #C1C2AD;
    height:3em;
    width:3em;
    border-radius:50%;
    border:none;
    position:absolute;
    top:10em;
    right:1.5em;
    outline:none;
    pointer-events: none;
    z-index: 0;
}

#powerbtn{
    border:none;
    border-radius: 50%;
    height:3em;
    width:3em;
    position:absolute;
    top:10.2em;
    right:1.7em;
    cursor: none;
    background-color: #C1C2AD;
    box-shadow: 0 0 0 0.2em #888888;

    }
 #powerbutton1{
    position:absolute;
    width:2.8em;
     height:2.8em;
    left:20.95em;
     top:8.4em;
    pointer-events: none;
}
.zvocnik{
    position: absolute;
    top:5em;
    right:1em;
}
.zvocnik>div{
    background-color:#B7A1A6;
    height: 0.3em;
    width: 3.5em;
    margin-bottom:0.4em;
    border-radius:0.8em;
}
.reza{
     background-color:#B7A1A6;
     position: absolute;
     height: 0.5em;
     width: 20em;
     border-radius:1em;
     bottom: 0.5em;
     right: 2.5em;
}
.antena{
    background-color: #696969;
    height: 2em;
    width: 7em;
    border-radius: 2em 2em 0 0;
    position:absolute;
    top:-2em;
    left:4em;
}
.nikenapis{
    font-family: cursive;
    font-weight: bold;
    color: #C1C2AD;
    position:absolute;
    left:5.3em;
    top:-2.5em;
    z-index: 1;
}
.a{
    background-color: #696969;
    height: 6em;
    width: 0.4em;
    position: relative;
    border-radius: 1em;;
}
.a:nth-child(1){
    bottom: 5em;
    left: 1em;
    transform: rotate(-30deg);
}
.a:nth-child(2){
    bottom: 11em;
    left:5.5em;
    transform: rotate(30deg);
}
.stojalo1, .stojalo2{
    background-color:#696969;
    height: 1em;
    width: 2em;
    position: absolute;
    border-radius: 0 0 1em 1em;
    bottom:-1em;
}
.stojalo1{
    left:3em;
}
.stojalo2{
    right:3em;
}
input[id="moznost1"]:before{
    content: '';
    position: absolute;  
    overflow: hidden;
    background-color: #A9E5D5;
    height: 14em;
    width: 22em;
    top:-9em;
    left: -24em;
    border-radius: 0.5em;
    border: 0.3em solid #C1C2AD;
    background-size: 125px 140px;
    animation: move 30s infinite linear;
    
}
@keyframes move{
    100%{
        background-position: 200em 0;
    }
} 
.backgroundOn:before{
    z-index: 100 ;
background-image: linear-gradient(
        to left,
        #ED90A4 25px,
        #ABB150 25px,
        #00C1B2 50px,
        #ACA2EC 50px,
        #00C1B2 75px,
        #ABB150 75px,
        #00C1B2 100px,
        #ACA2EC 100px,
        #29B6F6 125px
        );
}
input:checked[id="moznost1"]:before{
    background-size: 100% 100%;
    animation: none;
    background-image: linear-gradient(
        -45deg,
        transparent 150px,
        rgba(255,255,255,0.4)150px,
        rgba(255,255,255,0.4)180px,
        transparent 180px
    );
}


.daljinec{
    background-color: #F7CB2D;
    height:17em;
    width:10em;
    position:relative;
    top:15em;
    left: 15em;
    border-radius:1em;
    border: 0.1em solid white;
    border-bottom:none;
    border-left:none;
    border-right:none;
    box-shadow: 0.3em .5em #888888;
}

input[id="gumb1"]{
    -webkit-appearance: none;
    background-color: #C1C2AD;
    height:3.5em;
    width: 8em;
    border-radius:1em;
    border:none;
    position:absolute;
    top:4.5em;
    right:1.8em;
    outline:none;
    cursor:none;
    box-shadow: .15em .3em #888888;
}
input[id="gumb2"]{
    -webkit-appearance: none;
    background-color: #C1C2AD;
    height:3.5em;
    width:8em;
    border-radius:1em;
    border:none;
    position:absolute;
    top:9.8em;
    right:1.8em;
    outline:none;
    cursor:none;
    box-shadow: .15em .3em #888888;
}
input[id="gumb3"]{
    -webkit-appearance: none;
    background-color: #C1C2AD;
    height:3.5em;
    width:10em;
    border-radius:1em;
    border:none;
    position:absolute;
    top: 15em;
    left: 1em;
    outline:none;
    cursor:none;
    box-shadow: .15em .3em #888888;
}
#colorpicker{
    -webkit-appearance: none;
    padding:0;
    z-index: 1;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    bottom: 2.35em;
    right: 1.7em;
    border:none;
    cursor: none;
    outline: none;
    background-color: #C1C2AD;
}
#bezierslika{
    position: absolute;
    top: 13.3em;
    left: 1.91em;
    color:#696969;
    font-weight:bold;
    font-family: cursive;
    cursor:none;
}
#zapri{
    -webkit-appearance: none;
    background-color: #FF6347;
    height:3em;
    width:3em;
    border-radius:50%;
    border: none;
    position: absolute;
    left: 4.5em;
    top: 0.5em;
    outline: none;
	cursor: none;
    box-shadow: 0 0 0 0.2em #888888;
}
#powerbutton{
	position:absolute;
	width:2.8em;
	height:2.8em;
	left:3.59em;
	top:0.34em;
	pointer-events: none;
}
#pngslika{
    position: absolute;
    top: 4.5em;
    left: 4em;
    color:#696969;
    font-weight:bold;
    font-family: cursive;
    cursor:none;
}
#svgslika{
    position: absolute;
    top: 8.95em;
    left: 4em;
    color:#696969;
    font-weight:bold;
    font-family: cursive;
    cursor:none;
}
#svgslika1{
    position: absolute;
    top: -19.9em;
    right: -1em;
    width: 15em;
    height: 15em;
    pointer-events: none;
}
#nikelogo{
    position: absolute;
    width:14.5em;
    top:-19.8em;
    right:-0.7em;
    pointer-events: none;
}

#BezierCurveCanvas{
    position:absolute;
    top:-15em;
    right:-1.2em;
    height:30%;
    pointer-events: none;
    z-index: 3;
}
.swal2-popup {
    font-family:cursive;
  }
#credit_btn{
    position:absolute;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border:none;
    cursor: none;
    bottom: 1em;
    left: 1em;
    background-color:#caeee5;

}
#ex_mark{
    width: 4em;
    position: absolute;
    bottom:1.2em;
    left:0.45em;
    pointer-events: none;
}
.screen {
    position: absolute;
    top:1.25em;
    left:1.3em;
    display: flex;
    height: 11.7em;
    width: 18.35em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 0.15em;
    overflow: hidden;
    z-index: 5;
  }
  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: transparent;
    overflow: hidden;
    z-index: 5;
  }
 .inner {
    animation: screenoff 1s linear forwards;
  }
  .innerrev{
    animation: screenoff 1s linear forwards;
    animation-direction: reverse;
  }
  
  @keyframes screenoff {
    0% {
      height: 100vh;
    }
    10% {
      background: white;
    }
    60% {
      height: 40px;
      border-radius: 0%;
    }
    70% {
      height: 20px;
      border-radius: 20%;
    }
    80% {
      height: 10px;
      width: 100%;
    }
    90% {
      width: 50%;
      height: 5px;
    }
    95% {
      height: 2px;
    }
    97% {
      width: 100%;
    }
    100% {
      height: 1px;
      width: 0;
      background: white;
    }
  }